.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid rgb(107, 51, 162);
}


label{
    font-size: 1rem;
    color: rgb(4, 75, 103);
    font-weight: bold;
}

span{
    font-size: .8rem;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}